@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Light theme colors */
  --background: #efefef;
  --forground: #1e1e1e;
  --primary: #4a34db;
  --secondary: #2ecc71;
  --base: #00000021;
  --accent: #e74c3c;
  --muted: #95a5a6;
}

[data-theme='dark'] {
    /* Dark theme colors */
    --background: #1e1e1e;
    --forground: #efefef;
    --primary: #4a34db;
    --secondary: #2ecc71;
    --base: #ffffff1e;
    --accent: #e74c3c;
    --muted: #7f8c8d;
}

body {
  color: var(--forground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
