@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Light theme colors */
  --background: #e4e4e4;
  --forground: #1e1e1e;
  --primary: #008650;
  --secondary: #2eccb7;
  --base: #00000021;
  --card: #fcfcfc;
  --accent: #e74c3c;
  --muted: #95a5a6;
}

[data-theme='dark'] {
    /* Dark theme colors */
    --background: #1e1e1e;
    --forground: #efefef;
    --primary: #54ffbb;
    --secondary: #2eccb2;
    --base: #ffffff1e;
    --card: #272727;
    --accent: #e74c3c;
    --muted: #7f8c8d;
}

body {
  color: var(--forground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
